<%= turbo_frame_tag todo do %>
  <%= form_with(model: (local_assigns.has_key?(:todoable) ? [todoable, todo] : todo), class: 'group') do |form| %>
    <% if local_assigns.has_key?(:todoable) and todoable.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(todoable.errors.count, "error") %> prohibited this todo from being saved:</h2>

        <ul>
          <% todoable.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <fieldset role="group">
      <%= form.text_field :description %>
      <%= form.submit %>
      <% unless local_assigns.has_key? :todoable %>
        <%= button_to 'Close', model: todo %>
      <% end %>
    </fieldset>
  <% end %>
<% end %>
