<%= turbo_frame_tag dom_id(todo) do %>
  <%= form_with model: todo, data: { controller: "todo" } do |form| %>
    <div class="group todo">
      <div>
        <%= form.check_box :complete, checked: todo.complete, id: dom_id(todo, :complete), data: { action: "todo#toggle" } %>
        <% if todo.complete %>
          <s><%= todo.description %></s>
        <% else %>
          <%= todo.description %>
        <% end %>
      </div>
      <%= link_to 'Edit', edit_todo_path(todo), class: 'edit button' %>
    </div>
  <% end %>
<% end %>
